{% extends 'layout.html' %} 
{% load static %} 
{% block title %}
<title>Homepage</title>
{% endblock title %} {% block main_content %}
<section class="hero-section">
  <div class="hero-container">
    <div class="hero-image">
      <img
        src="{% static 'images/image1-heroo.png' %}"
        alt=""
        class="hero-pic"
      />
    </div>
    <div class="hero-desc">
      <h1 class="font-heading-lg">Virtual healthcare for you</h1>
      <p class="font-secondary">
        medNepal provides progressive, and affordable healthcare, accessible on
        online for everyone
      </p>
      <a href="" class="blue-btn hero-btn">Consult now</a>
    </div>
   
</section>
{% endblock main_content %}
