{% extends 'layout.html' %} 
{% load bootstrap %}
{% load static %} 
{% block title %}
<title>Login</title>
{% endblock title %} 
{% block main_content %}

<style>
    .myForm>label{
        font-size: larger;
        color: black;
        width: 100%;
        text-align: left;
    }
</style>

<div class="login-container">
    <h2 class="login-header font-primary ">
        Sign In
    </h2>
    <div class="login-usertype font-secondary">
        <a href="" class="white-btn square-white-btn"><i class="fas login-icon fa-user-cog"></i> Admin</a>
        <a href="" class="white-btn square-white-btn"> <i class="fas login-icon fa-user"></i> User</a>
        <a href="" class="white-btn square-white-btn"><i class="fas login-icon fa-user-md"></i>Doctor</a>
    </div>
    <div style="margin:200px 15%;">
        <form class="form m-3 myForm" action="" method="POST">
            {% csrf_token %}
            {{ form_login }}
            
            <div class="d-flex justify-content-between my-5 flex-wrap">
                <div>
                    <input type="checkbox" name="remenderMe" id="rem">
                    <label for="rem">Keep me logged in</label>
                </div>
                <a href="#" class="text-decoration-none forget-pwd text-primary">Forget Password?</a>
            </div>
            
            <div class="d-grid gap-2 my-5">
                <button class=" rect-btn blue-btn " type="submit">Sign In</button>
            </div>

            <div class="d-flex justify-content-evenly">
                <label class="my-auto">Not registered User?</label>
                <a href="/register" class="btn white-btn">Sign Up</a>
            </div>
        </form>
    </div>
    

</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter youe username"
    form_fields[2].placeholder = "Enter your password"
    
    form_fields[1].className += 'form-control my-4 py-3'
    form_fields[2].className += 'form-control my-4 py-3'
    

</script>
{% endblock main_content %}
