{% extends 'layout.html' %} 
{% load bootstrap %}
{% load static %} 
{% block title %}
<title>Register</title>
{% endblock title %} 
{% block main_content %}
<style>
    .helptext{
        display: none;
    }
    .myForm>label{
        font-size: larger;
        color: black;
        width: 100%;
        text-align: left;
        margin-top: 20px;
    }
    .myForm ul{
        display: none;
    }
</style>

<div class="container my-3">

    <div class="row wow slideInRight">
        <div class="col-md-6 offset-md-3">
            <div class="p-3">
                <h1 class="text-center login-header ">Register An Account</h1>
                <div class="login-usertype font-secondary">
                    <a href="{%url 'patient_signup'%}" id="user" class="white-btn square-white-btn"> <i class="fas login-icon fa-user"></i> User</a>
                    <a href="{%url 'doctor_signup'%}" class="square-white-btn btn-primary text-white"><i class="fas login-icon fa-user-md"></i>Doctor</a>
                </div>
                {% include 'messages.html' %}
                <form class="form myForm" action="" method="POST" style="margin: 15% 0%;">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="my-4 mx-2">
                        <input type="checkbox" name="remenderMe" id="rem" class="d-inline">
                        <label for="rem" class="d-inline ms-2">Keep me informed about the latest updates and offers through email.</label>
                    </div>

                    <div class="d-grid gap-2 my-5">
                        <button class="rect-btn blue-btn " type="submit">Register</button>
                    </div>

                    <div class="d-flex justify-content-evenly">
                        <label class="my-auto">Already Registered into medNepal?</label>
                        <a href="/login" class="btn white-btn">Sign In</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    

    
    form_fields[1].placeholder = "Enter User Name"
    form_fields[2].placeholder = "Enter Password"
    form_fields[3].placeholder = "Confirm Password"
    form_fields[4].placeholder = "Enter Email"
    form_fields[5].placeholder = "Enter First Name"
    form_fields[6].placeholder = "Enter Last Name"
    form_fields[7].placeholder = "Enter Phone Number"
    form_fields[8].placeholder = "Enter Address"


    for (field in form_fields) {
        form_fields[field].className += 'form-control my-3'
    }


    var docbtn=document.getElementById("doctor")
    var userbtn=document.getElementById("user")

    docbtn.addEventListener("click", docFunction)
    

    function docFunction() {
        docbtn.className += 'bg-primary';
    }

</script>

{% endblock main_content %}
