{% extends 'layout.html' %} 
{% load bootstrap %}
{% load static %} 
{% block title %}
<title>Article</title>
{% endblock title %} 
{% block main_content %}

<div class="container-fluid p-5 ">
    <div class="row d-grid gap-1 col-2 mx-auto">
        <button class="btn btn-light shadow m-5" type="button">Article</button>
    </div>
    <div class="container-fluid p-5 mb-3">
        <img src="{% static 'images/image 2.png' %}" class="card-img-top " alt="...">
        <div class="card-body">
          <h5 class="card-title ">Disease detection, check up in the laboratory</h5>
          <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa elementum, accumsan, mi sit ut sit quam consectetur. Vivamus ultrices maecenas tempus urna dui odio lacus. Congue ut scelerisque turpis semper. Tellus tristique semper ultricies et posuere vivamus massa. Sapien ridiculus fermentum pretium at proin eu. Nunc ultrices sodales faucibus dolor, tempor. Tincidunt laoreet sed lorem enim.</p>
          <p class="card-text "><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa elementum, accumsan, mi sit ut sit quam consectetur. Vivamus ultrices maecenas tempus urna dui odio lacus. Congue ut scelerisque turpis semper. Tellus tristique semper ultricies et posuere vivamus massa. Sapien ridiculus fermentum pretium at proin eu. Nunc ultrices sodales faucibus dolor, tempor. Tincidunt laoreet sed lorem enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa elementum, accumsan, mi sit ut sit quam consectetur. Vivamus ultrices maecenas tempus urna dui odio lacus. Congue ut scelerisque turpis semper. Tellus tristique semper ultricies et posuere vivamus massa. Sapien ridiculus fermentum pretium at proin eu. Nunc ultrices sodales faucibus dolor, tempor. Tincidunt laoreet sed lorem enim.</small></p>
        </div>
      </div>
</div>

{% endblock main_content %}