{% extends 'layout.html' %} 
{% load bootstrap %}
{% load static %} 
{% block title %}
<title>Doctor Page</title>
{% endblock title %} 
{% block main_content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
                       integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



<div class="doctorpage-container">
  <div class="flex-container">
    <button type="button" class="btn btn-primary btn-lg pt-3 pb-3 pl-5 pr-5">Search Doctor</button>
    <button type="button" class="btn btn-primary btn-lg pt-3 pb-3 pl-5 pr-5">Pharmacy</button>
    <button type="button" class="btn btn-primary btn-lg pt-3 pb-3 pl-5 pr-5">Consultation</button>
    <button type="button" class="btn btn-primary btn-lg pt-3 pb-3 pl-5 pr-5">Appointment</button>
  </div>

  <div class="container container-border-primary mt-5 mb-5">
    <div class="row justify-content-around">
        <div class="card pt-3 col-md-5">
            <img src="/{{doctor.profile_pic}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h1 class="card-title">Dr. {{doctor.firstname}} {{doctor.lastname}}</h1>
              <h6 class="card-title">{{doctor.departmentName}}</h6>
              <h5 class="card-title">{{doctor.hospitalName}}</h5>
              <h5 class="card-title">{{department.appointmentFee}}</h5>
                
              <a href="#" class="btn btn-primary">Free Consult</a> 
              <a href="#" class="btn btn-outline-primary" >Get Appoitment</a>   
            </div>
        </div>
        <div class="container pt-3 col-md-5">
          <img src="/{{department.deptPic}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="card-title">{{department.DeptName}}</h1>
            <p class="card-text">{{department.description}}</p>
          </div>
      </div>

    </div>    
  </div>
</div>
{% endblock main_content %}