{% extends 'layout.html' %} 
{% load bootstrap %}
{% load static %} 
{% block title %}
<title>Doctor Page</title>
{% endblock title %} 
{% block main_content %}
<div class="doctorpage-container">
  <div class="feature-options">
    <a href="/features/searchdoctor" class="search-doctor-btn">
      <div class="feature-btn ">
        <img src="{% static 'images/icon-search.png' %}" alt="" class="feature-icon">
        Search doctor
      </div>
    </a>
    <a href="/features/pharmacy" class="pharmacy-btn">
      <div class="feature-btn ">
        <img src="{% static 'images/icon-pharmacy.png' %}" alt="" class="feature-icon">
        Pharmacy
      </div>
    </a>
    <a href="#" class="consultation-btn">
      <div class="feature-btn ">
        <img src="{% static 'images/icon-consultation.png' %}" alt="" class="feature-icon">
        Consultation
      </div>
    </a>
    <a href="/emergency" class="appointment-btn">
      <div class="feature-btn ">
        <img src="{% static 'images/icon-emergency.png' %}" alt="" class="feature-icon">
        Emergency
      </div>
    </a>
  </div>

  <div class="container container-border-primary mt-5 mb-5">
    <div class="row justify-content-around">
        <div class="card pt-3 col-md-5">
            <img src="/{{doctor.profile_pic}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h1 class="card-title">Dr. {{doctor.firstname}} {{doctor.lastname}}</h1>
              <h6 class="card-title">{{doctor.departmentName}}</h6>
              <h5 class="card-title">{{doctor.hospitalName}}</h5>
              <h5 class="card-title">Rs. {{department.appointmentFee}}</h5>
                
              <a href="/patients/inbox/create-thread-view/{{doctor.user_id}}" class="btn btn-primary">Free Consult</a> 
              <a href="/patients/book_appointment/{{doctor.user_id}}" class="btn btn-outline-primary" >Get Appointment</a>   
            </div>
        </div>
        <div class="container pt-3 col-md-5">
          <img src="/{{department.deptPic}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="card-title">{{department.DeptName}}</h1>
            <p class="card-text">{{department.description}}</p>
          </div>
      </div>

    </div>    
  </div>
</div>
{% endblock main_content %}