{% extends 'layout.html' %} 
{% load bootstrap %}
{% load static %} 
{% block title %}
<title>Pharmacy</title>
{% endblock title %} 
{% block main_content %}



<section class="pharmacy-main container-fluid p-5">
  <div class="cat-title badge text-center mb-5">
    <h1 class="med-cat-title mb-0">Common Medicine</h1>
  </div>
  <div class="d-flex flex-wrap justify-content-between mb-5">
    <div class="medicine-card card flex-row">
      <a href="#" class="img-fluid text-decoration-none fs-3 p-4"><i class="med-icon fas fa-prescription-bottle-alt "></i></a>
      <div class="card-body">
        <h5 class="med-title card-title">Paracetamol</h5>
        <p class="med-price card-text">Rs. 150</p>
        <a href="#" class="cartbtn btn btn-outline-primary rounded-pill">Add To Cart</a>
      </div>
    </div>
    <div class="medicine-card card flex-row">
      <a href="#" class="img-fluid text-decoration-none fs-3 p-4"><i class="med-icon fas fa-prescription-bottle-alt "></i></a>
      <div class="card-body">
        <h5 class="med-title card-title">Paracetamol</h5>
        <p class="med-price card-text">Rs. 150</p>
        <a href="#" class="cartbtn btn btn-outline-primary rounded-pill">Add To Cart</a>
      </div>
    </div>
    <div class="medicine-card card flex-row">
      <a href="#" class="img-fluid text-decoration-none fs-3 p-4"><i class="med-icon fas fa-prescription-bottle-alt "></i></a>
      <div class="card-body">
        <h5 class="med-title card-title">Paracetamol</h5>
        <p class="med-price card-text">Rs. 150</p>
        <a href="#" class="cartbtn btn btn-outline-primary rounded-pill">Add To Cart</a>
      </div>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-between">
    <div class="medicine-card card flex-row">
      <a href="#" class="img-fluid text-decoration-none fs-3 p-4"><i class="med-icon fas fa-prescription-bottle-alt "></i></a>
      <div class="card-body">
        <h5 class="med-title card-title">Paracetamol</h5>
        <p class="med-price card-text">Rs. 150</p>
        <a href="#" class="cartbtn btn btn-outline-primary rounded-pill">Add To Cart</a>
      </div>
    </div>
    <div class="medicine-card card flex-row ">
      <a href="#" class="img-fluid text-decoration-none fs-3 p-4"><i class="med-icon fas fa-prescription-bottle-alt "></i></a>
      <div class="card-body">
        <h5 class="med-title card-title">Paracetamol</h5>
        <p class="med-price card-text">Rs. 150</p>
        <a href="#" class="cartbtn btn btn-outline-primary rounded-pill">Add To Cart</a>
      </div>
    </div>
    <div class="medicine-card card flex-row">
      <a href="#" class="img-fluid text-decoration-none fs-3 p-4"><i class="med-icon fas fa-prescription-bottle-alt "></i></a>
      <div class="card-body">
        <h5 class="med-title card-title">Paracetamol</h5>
        <p class="med-price card-text">Rs. 150</p>
        <a href="#" class="cartbtn btn btn-outline-primary rounded-pill">Add To Cart</a>
      </div>
    </div>
  </div>
</section>


{% endblock main_content %}