{% extends 'layout-doctor.html' %}
{% load static %}
{% block title %}
<title>Doctor-Dashboard</title>
{% endblock %}
{% block main_content %}
<style>
    .mylink{
    color:white;
    text-decoration:none;
    transition: all 2s;
    }
    .mylink:hover{
    color:brown;

    }
    .card-body:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition-duration:2s;
    }
</style>



<div class="container main my-5 text-uppercase">
    {% include 'messages.html' %}
    <div class="d-flex justify-content-center my-5">
        <div class="wrapper">
            <div class="admincard wow slideInLeft">
                <h1>
                    <span class="enclosed">Doctor</span>Dashboard
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col my-2">
            <div class="wow slideInRight card text-white bg-success mb-3 shadow rounded-3" style="max-width: 35rem;">
                <div class="card-body">
                    <a href="{% url 'show_appointment' %}" class="text-center mylink">
                        <h1></h1>
                        <h3>My Appointment</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="col my-2">
            <div class="wow slideInRight card text-white bg-success mb-3 shadow rounded-3" style="max-width: 35rem;">
                <div class="card-body">
                    <a href="{% url 'inbox_doctor' %}" class="text-center mylink">
                        <h1>{{threads}}</h1>
                        <h3>Message</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}