.doctor-page {
  background: linear-gradient(180deg, #b0f4ff 0%, rgba(176, 244, 255, 0) 100%);
  padding: 8% 2%;
  margin-top: -60px;
}
.doctor-container {
  max-width: 1080px;
  margin: 0 auto;
}

.doctor-showcase-title {
  background-color: #476298;
  padding: 2%;
  display: inline-block;
  border-radius: 13px;
  font-weight: 800;
  font-size: 24px;
  color: #fff;
}

.doctor-showcase2 {
  margin-top: 60px;
}
