<body>
    <!-- header -->

    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">

            <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="/admins"> Admin Dashboard</a>
            <a href="/admins/show_contactus" class="me-4 fs-4 text-light"><i class="bi bi-envelope">
                    <span class="position-absolute top-10 start-85 translate-middle badge rounded-pill bg-danger"
                        style="font-size:10px;">
                        {{contact}}
                        <span class="visually-hidden">unread messages</span>
                    </span></i></a>
            <div class="dropdown">
                <a class="text-decoration-none dropdown-toggle fs-5 text-light" href="#" role="button"
                    id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-fill"></i> {{request.user}}
                </a>
                <a href="{% url 'logout' %}" class="ms-2 btn btn-sm btn-danger">Logout</a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/accounts/admin_password_change">Change Password</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- top navigation bar -->
    <!-- offcanvas -->
    <div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
        <div class="offcanvas-body p-0">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <li>
                        <a href="/admins" class="nav-link px-3 active">
                            <span class="me-2"><i class="fas fa-solar-panel"></i></span>
                            <span>Admin Dashboard</span>
                        </a>
                    </li>
                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                            Pharmacy
                        </div>
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts">
                            <span class="me-2"><i class="fas fa-pills"></i></span>
                            <span>Medicine Category</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="layouts">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="/admins/post_medicine_category" class="nav-link px-3">
                                        <span class="me-2"><i class="fas fa-pills"></i></span>
                                        <span>Add Medicine Category</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admins/get_medicine_category" class="nav-link px-3">
                                        <span class="me-2"><i class="fas fa-pills"></i></span>
                                        <span>Show Medicine Category</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts1">
                            <span class="me-2"><i class="fas fa-prescription-bottle"></i></span>
                            <span>Medicine</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="layouts1">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="/admins/post_medicine" class="nav-link px-3">
                                        <span class="me-2"><i class="fas fa-prescription-bottle"></i></span>
                                        <span>Add Medicine</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admins/get_medicine" class="nav-link px-3">
                                        <span class="me-2"><i class="fas fa-prescription-bottle"></i></span>
                                        <span>Show Medicine</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                            Lab Test 
                        </div>
                    </li>

                    <li>
                        <a href="/admins/show_book_labtest" class="nav-link px-3">
                            <span class="me-2"><i class="fas fa-bookmark"></i></span>
                            <span>Lab Test Details</span>
                        </a>
                    </li>
                    <li>


                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                            Home Page
                        </div>
                    </li>

                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts7">
                            <span class="me-2"><i class="bi bi-layout-split"></i></span>
                            <span>Department</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="layouts7">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="/admins/post_department" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-split"></i></span>
                                        <span>Add Department</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admins/get_department" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-split"></i></span>
                                        <span>Show Department Details</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts8">
                            <span class="me-2"><i class="bi bi-layout-split"></i></span>
                            <span>Gallery</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="layouts8">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="/post_gallery" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-split"></i></span>
                                        <span>Add Gallery</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/get_gallery" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-split"></i></span>
                                        <span>Show Gallery Details</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>


                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                            Users
                        </div>
                    </li>
                    <a href="/admins/show_doctor" class="nav-link px-3">
                        <span class="me-2"><i class="fas fa-user-plus"></i></span>
                        <span>Doctor</span>
                    </a>


                    <a href="/admins/show_patient" class="nav-link px-3">
                        <span class="me-2"><i class="bi bi-table"></i></span>
                        <span>Patient</span>
                    </a>

                    <a href="/admins/show_admin" class="nav-link px-3">
                        <span class="me-2"><i class="bi bi-table"></i></span>
                        <span>Admin</span>
                    </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>