<section class="header-section">
  <a href="/">
    <div class="logo-container">
      <div class="logo">MN</div>
      <h2 class="logo-text">medNepal</h2>
    </div>
  </a>
  <div class="navi-menu">
    <div class="menu-line menu-line1"></div>
    <div class="menu-line menu-line2"></div>
    <div class="menu-line menu-line3"></div>
  </div>
  <nav class="navi-bar">
    <ul class="navi-list">
      <li class="navi-item"><a href="/" class="navi-link">Home</a></li>
      <li class="navi-item"><a href="/features/searchdoctor" class="navi-link">Find a doctor</a></li>
      <li class="navi-item"><a href="/features/article" class="navi-link">Articles</a></li>
      {% if user.is_authenticated %}
      <li class="navi-item"><a href="/patients/book_labtest" class="navi-link">Lab test Request</a></li>
      <li class="navi-item user-profile-link">
        <a href="#"><img src="/{{request.user.patient.profile_pic}}" class="rounded-circle" style="object-fit: cover;"
            alt="file_image" width="35px" , height="35px"> {{user}} <i
            class="user-options-icon fa fa-caret-down"></i></a>
        <div class="user-options">
          <ul class="user-options-list">
            <li><a class="" href="/patients/get_profile"><i class="fas fa-user me-1 blue-icons"></i>My Profile</a></li>
            <li><a class="" href="/patients/inbox"><i class="far fa-envelope me-1 blue-icons"></i>Inbox</a></li>
            <li><a class="" href="/patients/mycart"><i class="fad fa-cart-plus me-1 blue-icons"></i>My Cart</a></li>
            <li><a class="" href="/patients/my_order"><i class="fas fa-bags-shopping me-1 blue-icons"></i>My Orders</a></li>
            <li><a class="" href="/patients/show_book_appointment"><i class="fas fa-calendar-check me-1 blue-icons"></i>Appointments</a></li>
            <li><a href="{% url 'logout' %}"><i class="fas fa-solid fa-arrow-right-from-bracket me-1 blue-icons"></i>Logout</a></li>
          </ul>
        </div>
      </li>
      {% else %}
      <li class="navi-item"><a href="/#services" class="navi-link">Our services</a></li>
      <li class="navi-item"><a href="/#about-us" class="navi-link">About Us</a></li>
      <li class="navi-item">
        <a href="/login" class="white-btn login-btn">Login</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</section>
<script>
  const navMenu = document.querySelector(".navi-menu");
  const navigation = document.querySelector(".navi-bar");

  navMenu.addEventListener("click", () => {
    navigation.classList.toggle("open");
    navMenu.classList.toggle("open-menu");
    console.log("hello");
  });

  console.log("hello");
</script>