{% extends 'layout-admin.html' %}
{% load bootstrap %}
{% block title %}
<title>Add Medicine Category</title>
{% endblock title %}

{% block main_content %}
<style>
    #cke_id_body {
        width: 100% !important;
    }
</style>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% include 'messages.html' %}
            <div class="card py-2 px-2 rounded-3 shadow-lg">
                <h1 class="text-center bg-light fw-bold shadow">Add Medicine Category</h1>
                <form class="form myForm" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_medicine_category | bootstrap_horizontal }}
                    <button type="submit" class="btn btn-primary shadow-lg rounded-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}