{% extends 'layout-admin.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}
<title>Lab report upload Page</title>
{% endblock title %}
{% block main_content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



<div class="doctorpage-container">


    <div class="container container-border-primary mt-5 mb-5">
        <div class="row justify-content-around">
            <div class="card pt-3 col-md-5">
                <div class="card-body">

                    <form class="form myForm" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form_labreport | bootstrap_horizontal }}
                        <button type="submit" class="btn btn-primary shadow-lg rounded-3">Summit</button>
                    </form>


                </div>
            </div>

        </div>
    </div>
</div>
{% endblock main_content %}