{% extends 'layout.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}
<title>Lab Test Request</title>
{% endblock title %}
{% block main_content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



<div class="doctorpage-container">
    <div class="container mt-5 mb-5">
        {% include 'messages.html' %}
        <div class="row justify-content-center">
            <div class="card" style="width:60%">
                <div class="card-body">
                    <img src="https://media.istockphoto.com/photos/close-up-of-lab-assistant-in-uniform-with-mask-and-rubber-gloves-picture-id1183908006?k=20&m=1183908006&s=612x612&w=0&h=7_MUOBIvktBcdqh-kYRR6U-2fXIuc8DXJSkHpykmB6I="
                        alt="" style="object-fit: cover; width:100%">
                    <form class="form m-5" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form_labtest }}
                        <button type="submit" class="d-block mt-3 btn btn-primary shadow-lg rounded-3">Summit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock main_content %}