{% extends 'layout.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}
<title>Appointment Booking</title>
{% endblock title %}
{% block main_content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



<div class="doctorpage-container">


    <div class="container container-border-primary mt-5 mb-5">
        {% include 'messages.html' %}
        <div class="row justify-content-around">
            <div class="card pt-3 col-md-5">
                <img src="/{{doctor.profile_pic}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">Dr. {{doctor.firstname}} {{doctor.lastname}}</h1>
                    <h6 class="card-title">{{doctor.departmentName}}</h6>
                    <h5 class="card-title">{{doctor.hospitalName}}</h5>
                    <h5 class="card-title">Rs. {{department.appointmentFee}}</h5>

                    <form class="form myForm" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form_Appointment }}
                        <button type="submit" class="btn btn-primary shadow-lg rounded-3">Book</button>
                    </form>


                </div>
            </div>


        </div>
    </div>
</div>
{% endblock main_content %}