{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>My Cart</title>
{% endblock%}

{% block main_content %}
<div class="cart-container">
    <h2 class="font-primary cart-heading mb-4 text-center"><i class="fas fa-cart-plus cart-icon"></i> My Cart</h2>
    <div class="cart-item-showcase">
        {% include 'messages.html' %}
        {% for i in items %}
        <div class="cart-item-card mt-4">
            <div class="cart-card-desc">
                <div class="cart-item-image">
                    <img src="/{{i.medicine.medicine_image}}" alt="" class="cart-item-img"/>
                </div>
                <div class="cart-item-details">
                    <div class="cart-item-name font-secondary">{{ i.medicine.medicine_name }}</div>
                    <div class="cart-item-price font-tertiary"> Rs. <span>{{ i.medicine.medicine_price }}</span></div>
                    <div class="cart-item-date font-default">{{ i.created_date }}</div>
                </div>
            </div>
            <div class="cart-item-actions font-default">
               <div> <a href="/patients/order_form/{{i.medicine.id}}/{{i.id}}" class="cart-item-btns btn-primary"><i class="fas fa-shopping-bag order-icon"></i> Order now</a></div>
               <div> <a href="/patients/remove_cart_item/{{i.id}}" class="cart-item-btns item-remove-btn btn-danger"><i class="fas fa-trash-alt"></i> Remove</a></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center">
        <a href="/features/pharmacy" class="col-md-2 btn btn-outline-dark btn-lg p-3 m-3"
           onclick="return confirm('Are you sure want to go back to pharmacy?')"><i
                class="far fa-shopping-bag"></i> Back To Pharmacy</a>
    </div>
</div>
{% endblock %}