{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
<title>Update Profile</title>
{% endblock%}

{% block main_content %}
<style>
    .myForm .form-group {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .updatebg {
        background: url(https://images.vexels.com/media/users/3/254689/raw/35be86bf7cad68fb99fc1465048360fe-standing-cowboy-in-horse-in-canyon-background.jpg);
        height: 170px;
        position: relative;
        background-attachment: fixed;
        background-position: 50% 0%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px skyblue;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>


<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card p-3 bg-light opacity-85 shadow-lg rounded-3 wow slideInLeft">
                {% include 'messages.html' %}
                <div class="updatebg">
                    <h1 class="fw-bold text-light text-uppercase">Update Profile</h1>
                </div>
                <form class="form myForm" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | bootstrap_horizontal}}
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Enter first name';
    form_fields[2].placeholder = 'Enter last name';
    form_fields[3].placeholder = 'Enter phone number';

    for (var field in form_fields) {
        field.className += ' my-2'
    }

</script> -->

{% endblock %}